<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Notification Reciever</title>
</head>

<body>
    <h1>
        See recent Mails
    </h1>
    <h2>Mails Count: <span id="mailsCount">0</span></h2>
    <script>
        function getMailsCount() {
            fetch('http://127.0.0.1:8000/clientApi/',
                {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    document.getElementById("mailsCount").innerHTML = data.count;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        setInterval(getMailsCount, 10000);
        getMailsCount()
    </script>

</body>

</html>